<div class="link-wrapper">
  <style scoped>
    div.link a {
      font-size: 16px;
      color: var(--clr-h1-and-bold);
    }

    div.link a>i {
      margin-bottom: 8px;
    }

    div.link a:hover,
    a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>

  <div class="link">
    <a href="/cv.pdf"><i class="fa fa-file-o"></i> CV</a>
    <br>
    <a href="https://github.com/LeonardoEmili"><i class="socials fa fa-github"></i> GitHub</a>
    <br>
    <a href="https://www.linkedin.com/in/leonardoemili"><i class="fa fa-linkedin"></i> LinkedIn</a>
    <br>
    <a href="https://twitter.com/EmiliLeonardo"><i class="fa fa-twitter"></i> Twitter</a>
    <br>
  </div>